<a href="https://colab.research.google.com/github/Abhishek1236/assignment/blob/master/Untitled59.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import pandas as pd
import glob

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [28]:
def file_to_df(path_to_file):
  dataframe = pd.read_csv(path_to_file)
  # creating list of from path to extract different criteria
  list_frm_path = str.split(path_to_file,'/')
  #print(list_frm_path) # this is also important as it contains the information about the folder
  directory = list_frm_path[-2] # name of the directory for the storage of files
  # collecting last element of the list as it contains information
  new_list = list_frm_path[-1]
 # print(new_list)
  #print(type(new_list))
  # now spliting the string on white space
  #print(informative_list)
  informative_list = str.split(new_list," ")
  print("informative list: ",informative_list)
  #print(type(informative_list))
  # now concating 2,3,4 element of list as it represents a date
  expiry_date = informative_list[1:4]
  #print(date)
  # now converting the date into correct format
  ExpiryDate = " ".join(expiry_date)
  #print(new_date)
  # now we can go for the strike price
  strike_price = informative_list[-1]
  Strike_Price = strike_price.replace(".csv", "")
  #print(Strike_price)
  # now we are ready to add columns and the data
  dataframe['Symbol']= informative_list[0]
  dataframe['ExpiryDate'] = ExpiryDate
  dataframe['OptionType'] = informative_list[4]
  dataframe['Strike_Price'] = Strike_Price
  return dataframe


'''
df1 = file_to_df('/content/drive/My Drive/SampleInputDirectory/20191104/AMKR 20 MAR 20 PUT 11.csv')
df2 = file_to_df('/content/drive/My Drive/SampleInputDirectory/20191104/AMKR 20 MAR 20 PUT 14.csv')
df3 = file_to_df('/content/drive/My Drive/SampleInputDirectory/20191104/AMLP 08 NOV 19 PUT 9.csv')
df4 = file_to_df('/content/drive/My Drive/SampleInputDirectory/20191104/AMLP 13 DEC 19 CALL 8.5.csv')
df = pd.concat([df1,df2,df3,df4])
'''
# use os dir to extract files from the path 
dir_path = '/content/drive/My Drive/SampleInputDirectory/20191104/'# directory path

#file_path = ['AMKR 20 MAR 20 PUT 11.csv','AMKR 20 MAR 20 PUT 14.csv','AMLP 08 NOV 19 PUT 9.csv','AMLP 13 DEC 19 CALL 8.5.csv']
file_path = os.listdir(dir_path)
print(file_path)
print(type(file_path))
print(type(dir_path))
list_new = list()
t = ""
for f in file_path:
  #list_new.append(file_to_df(dir_path +str(f))
  t = file_to_df(dir_path+ "/" + f ) # make file path  in the giiven format
  list_new.append(t)

['AMKR 20 MAR 20 PUT 11.csv', 'AMLP 13 DEC 19 CALL 8.5.csv', 'AMKR 20 MAR 20 PUT 14.csv', 'AMLP 08 NOV 19 PUT 9.csv', '.ipynb_checkpoints']
<class 'list'>
<class 'str'>
informative list:  ['AMKR', '20', 'MAR', '20', 'PUT', '11.csv']
informative list:  ['AMLP', '13', 'DEC', '19', 'CALL', '8.5.csv']
informative list:  ['AMKR', '20', 'MAR', '20', 'PUT', '14.csv']
informative list:  ['AMLP', '08', 'NOV', '19', 'PUT', '9.csv']

ParserError: ignored

AttributeError: ignored

In [0]:
df = pd.concat(list_new)

In [8]:
df.head()

                            Timestamp  Last  ...  OptionType  Strike_Price
2019-11-04 13:46:52.103547       0.53     1  ...         PUT            11
2019-11-04 13:47:50.249916       0.55     3  ...         PUT            11
2019-11-04 14:47:21.681808       0.50     1  ...         PUT            11
2019-11-04 10:29:35.523620       1.75     1  ...         PUT            14
2019-11-04 09:37:24.268766       0.30    10  ...         PUT             9

[5 rows x 14 columns]

In [0]:
df1.head()

                            Timestamp  Last  ...  OptionType  Strike_Price
2019-11-04 13:46:52.103547       0.53     1  ...         PUT            11
2019-11-04 13:47:50.249916       0.55     3  ...         PUT            11
2019-11-04 14:47:21.681808       0.50     1  ...         PUT            11

[3 rows x 14 columns]

In [0]:
df2.head()

                            Timestamp  Last  ...  OptionType  Strike_Price
2019-11-04 10:29:35.523620       1.75     1  ...         PUT            14

[1 rows x 14 columns]

In [0]:
df.to_csv(r'/content/drive/My Drive/SampleInputDirectory/20191104/20191104.csv')